<filesMatch ".(webp|png|jpg|jpeg|css|js)$">
    Header set Cache-Control "max-age=31536000, must-revalidate"
</filesMatch>
<IfModule mod_headers.c>
  Header always set X-Content-Type-Options "nosniff"
  Header always set X-Frame-Options "SAMEORIGIN"
  Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
</IfModule>